.Teams {
  background-image: url('https://images.unsplash.com/photo-1525916801717-9405b53a3246?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 100px;
}

.Teams h1 {
  color: black;
}