.Home {
  background-image: url('https://clipartart.com/images/basketball-and-donuts-clipart-11.png');
  background-size: 28%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 750px;
}